.calculator {
  position: absolute;
  width: 540px;
  left: 50%;
  top: 50%;
  margin-left: -270px;
  margin-top: -360px;
  z-index: 1;
  animation: scale 500ms;
}
@keyframes scale {
  from {
    transform: scale(0) rotate(720deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
