.calculator {
  position: absolute;
  width: 540px;
  left: 50%;
  top: 50%;
  margin-left: -270px;
  margin-top: -360px;
  z-index: 1;
  animation: scale 500ms;
}
@media screen and (max-width: 590px) {
  .calculator {
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    margin: 25px auto;
  }
}
@keyframes scale {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
