.display {
  position: relative;
  width: 100%;
  border-radius: 10px;
  background: #181f32;
  font-size: 50px;
  padding: 33px;
  text-align: end;
  color: #fffffd;
  margin-top: 20px;
}
.display span {
  word-wrap: break-word;
}
.display.empty {
  padding: 62.5px 33px;
}

@media screen and (max-width: 560px) {
  .display {
    font-size: 26px;
  }
  .display.empty {
    padding: 48.5px 33px;
  }
}
